# https://docs.npmjs.com/cli/configuring-npm/npmrc/
# https://pnpm.io/npmrc
# 创建 .npmrc 文件，配置内容如下（不使用 pnpm 的可以忽略）

auto-install-peers=true

registry=https://registry.npmmirror.com

# 安装 vitepress 相关依赖
# pnpm add -D vitepress vue
