# See https://github.com/prettier/prettier/blob/main/docs/ignore.md
# 用于 .prettierignore 完全忽略（即不重新格式化）某些文件和文件夹。
# dependencies
node_modules

# compiled output
dist
dist-dev
build
cache
.cache
.temp
.tmp

# lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# user-specific files
